* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body {
    height: 100vh;
    width: 100%;
}

.application {
    height: 100%;
    width: 100%;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.landing-menu {
    height: 100%;
    width: 100%;
    background: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu";
}

.title {
    font-size: 60px;
    margin-bottom: 50px;
}

.start-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
    height: 300px;
    width: 100%;
    background: #dddcdc;
    margin-bottom: 30px;
}

.start-box > p {
    font-size: 24px;
}

button {
    font-family: "Ubuntu";
    font-size: 18px;
    width: 200px;
    margin: 0 20px;
    min-height: 26px;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}

td {
    height: 18px;
    width: 18px;
    background: #dddcdc;
}

#title {
    font-family: "Ubuntu";
    margin: 15px 0;
}

.stats-box {
    display: flex;
    justify-content: space-between;
    width: 330px;
    padding: 0 80px;
    margin-bottom: 5px;
}

.counter {
    font-family: 'Squada One';
    font-size: 30px;
    color: red;
    background: black;
    width: 50px;
    text-align: center;
}

.face-box {
    height: 30px;
    width: 30px;
    background: #dddcdc;
    box-shadow: 2px 2px black;
}

.in-game {
    background-image: url(./assets/minesweeper_in_game.png);
    background-position: center;
    background-size: auto 70%;
    background-repeat: no-repeat;
}

.dead {
    background-image: url(./assets/minesweeper_dead.png);
    background-position: center;
    background-size: auto 70%;
    background-repeat: no-repeat;
}

.winner {
    background-image: url(./assets/minesweeper_winner.png);
    background-position: center;
    background-size: auto 70%;
    background-repeat: no-repeat;
}

.timer {
    font-family: 'Squada One';
    font-size: 30px;
    color: red;
    background: black;
    width: 50px;
    text-align: center;
}

.mine {
    font-weight: bolder;
}

.notClicked {
    overflow: hidden;
    background: #cac8c8;
    color: transparent;
    box-shadow: 1px 1px #0000007c;
}

.flagged {
    background-image: url('./assets/flag_image.png');
    background-size: cover;
}

.question {
    background-image: url('./assets/question_mark.png');
    background-size: auto 70%;
    background-position: center;
    background-repeat: no-repeat;
}


.lost {
    background-color: red;
}

.wrong {
    background-image: url(./assets/thumbs_down.png);
    background-size: auto 70%;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    box-shadow: none;
}

.restart-button-box {
    height: 50px;
}

.to-landing {
    margin-top: 10px;
    margin-bottom: 10px;
}
